<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.prince.webvideopalyer">
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 网络权限（PT）-->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/><!--音量权限-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/><!--写存储权限-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/><!--读存储权限-->
    <uses-permission android:name="android.permission.VIBRATE" /><!--震动权限-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /><!--网络状态权限（PT）-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- WIFI状态权限（PT） --><!-- 定位权限（PT） -->

    <application
        android:allowBackup="true"
        android:configChanges="orientation|screenSize"
        android:usesCleartextTraffic="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:targetApi="m">
        <activity
            android:name=".VIP_Acitivity"
            android:hardwareAccelerated="true"
            android:launchMode="singleTop"
            android:screenOrientation="landscape" />
        <activity
            android:name=".VipplayerAcitivity"
            android:hardwareAccelerated="true"
            android:launchMode="singleTop"
            android:configChanges="orientation|layoutDirection|screenSize" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>